{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Alert - {{ alert.id }} {% endblock %}</h1>
{% endblock %}

{% block content %}

  <article class="post">
    <div class="body">
      <p>
        Status: {{ alert.alert_lifecycle.title() }}<br />
        Cause: {{ alert.cause.title() }}<br />
        Effect: {{ alert.effect.replace('_', ' ').title() }}<br />
        Detail: {{ alert.effect_detail.replace('_', ' ').title() }}<br />
        Message: {{ alert.header_text.translation[0].text }}<br />
        Instructions: <br />{{ alert.description_text.translation[0].text }}<br />
      </p>

      <p>
        <ul>
          <li>Agency ID: {{ alert.informed_entity[0].agency_id }}</li>
          <li>Route: {{ alert.informed_entity[0].route_label}}</li>
          <li>Stop: {{ alert.informed_entity[0].stop_id}}</li>
        </ul>


      </p>
    </div>
  </article>


{% endblock %}