{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Alerts ({{count}}){% endblock %}</h1>
{% endblock %}

{% block content %}

  {% for alert in alerts %}
    <article class="post">
      <header>
        <div>
          <h1>{{ alert.id }}</h1>
          <div class="about"><a href="{{ url_for('alert.alert', alert_id=alert.id) }}">More</a></div>
        </div>
      </header>
      <p class="body">{{ alert.header_text.translation[0].text }}</p>
    </article>

  {% endfor %}

{% endblock %}