blinker==1.9.0
click==8.3.1
dotenv==0.9.9
Flask==3.1.2
gtfs-realtime-bindings==1.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
protobuf==6.33.1
python-dotenv==1.2.1
setuptools==80.9.0
Werkzeug==3.1.4
