<!doctype html>
<title>{% block title %}{% endblock %} - porus</title>
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
<link rel="stylesheet" href="{{ url_for('static', filename='flask_style.css')}}">
<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
<nav>
  <h1>porus</h1>
  <ul>
    
    
    <li><a href="{{ url_for('alert.index') }}">Alerts</a></li>
    
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}

  {% block content %}{% endblock %}
</section>
